################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API_Portofolio/.vs/API_Portofolio/FileContentIndex/3585da7d-7682-4759-8cfa-31ed2c653efc.vsidx
/API_Portofolio/.vs/API_Portofolio/FileContentIndex/955c108f-0bab-4fd5-a83c-5ad997e94179.vsidx
/API_Portofolio/.vs/API_Portofolio/FileContentIndex/ede3cbe1-2c2e-4c40-b189-8474788ce6cf.vsidx
/API_Portofolio/.vs/API_Portofolio/FileContentIndex/fe4187ab-9384-450e-9f88-8128642425af.vsidx
